{% extends 'tickets/templates/base.html' %} 
{% block title %} Create tickets {% endblock %}

<!-- LOCAL FILES -->
{% load static %} {% block local_files %}
<link
  href="{% static '/plugins/jquery-steps/css/jquery.steps.css' %}"
  rel="stylesheet"
/>
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
{% endblock %}

<!-- MAIN CONTENT -->

{% block main_content %} 

{% csrf_token %}

<input type="hidden" value="{{ticket_id}}" id="ticket-id">
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">

  <!-- row -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form action="#" id="step-form-horizontal" class="step-form-horizontal">
          <div>

            <section id="section-fields">
              <div class="row" id="buttons-section">
                {% for key, value in form_fields.items %}

                <div class="col-lg-6">
                  <div class="form-group">
                    <button
                      onclick="nextStage(_nextStage=2, optionSelected='{{value.id}}', branchSelected='{{branch_selected}}')"
                      type="button"
                      class="form-control"
                      style="cursor: pointer"
                    >
                      {{value.string}}
                    </button>
                  </div>
                </div>

                {% endfor %}
              </div>
            </section>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
{% endblock %} {% block local_js %}
<script src="{% static 'plugins/jquery-steps/build/jquery.steps.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<!-- <script src="{% static 'js/plugins-init/jquery-steps-init.js' %}"></script> -->

<script src="{% static 'js/create-ticket/createTicket.js' %}"></script>

{% endblock %}
