{% extends 'tickets/templates/base.html' %}
{% block title %} Coordinate visit {% endblock %}

{% load static %}


{% block local_files %}

<!-- Custom Stylesheet -->
<link href="{% static '/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
<!-- Page plugins css -->
<link href="{% static '/plugins/clockpicker/dist/jquery-clockpicker.min.css' %}" rel="stylesheet">

<!-- Daterange picker plugins css -->
<link href="{% static '/plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
<link href="{% static '/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">


{% endblock %}


{% block main_content %}


<div class="content-body">

    <div class="col-lg-12" id="modal-div-1" hidden>
        <div class="card">
            <div class="card-body">
                <div class="bootstrap-modal">
                    <div class="modal fade" id="modal-contact-supplier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-contact-supplier-label">Contact supplier</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal"><span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                   
                                  {% csrf_token %}
    
                                  <div class="form-group">
                                      <label for="recipient-name" class="col-form-label">Subject:</label>
                                      <input type="text" class="form-control" id="message-subject">
                                  </div>
                                  <div class="form-group">
                                      <label for="message-text" class="col-form-label">Message:</label>
                                      <textarea class="form-control" id="message-text"></textarea>
                                  </div>
      
                                  <input type="hidden" id="person-id" name="supplier_id">
    
                                  <div class="modal-footer">
                                    <button 
                                    type="button" 
                                    class="btn btn-secondary" 
                                    data-dismiss="modal"
                                    id="close-modal-2"
                                    >
                                    Close
                                  </button>
                                    
                                    <button
                                      id="send-sms-btn"
                                      type="button"
                                      class="btn btn-primary sweet-success"
                                      onclick="sendMessage(persoId=null, sendToTenant=false, sendByEmail=false, comFeed=false, supplierFeed=false)"
                                    >
                                      Send SMS
                                    </button >
    
                                    <button
                                      id="send-email-btn"
                                      type="button"
                                      class="btn btn-primary sweet-success"
                                      onclick="sendMessage(personId=null, sendToTenant=false, sendByEmail=true, comFeed=false, supplierFeed=false)"
                                    >
                                      Send email
                                    </button>
    
                                  </div>
                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-12" id="modal-div-2" hidden>
        <div class="card">
            <div class="card-body">
                <div class="bootstrap-modal">
                    <div class="modal fade" id="modal-make-appoinment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-make-appoinment-label">Select appoinment date</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" id="close-modal-3">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                           
                                            <label>Select date and time:</label>

                                            <input type="hidden" id="input-id" name="supplier_id">
                                            <input type="hidden" id="ticket-id" name="ticket_id" value="{{ticket.id}}">

                                            <input type="datetime" class="form-control" placeholder="Select date" id="min-date" name="appoinment_date" required>

                                        </div>

                    

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-4">Close</button>
                                            <button type="submit" class="btn btn-primary">Make appoinmnet</button>
                                        </div>
                                     
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Select a contractor that you previously contacted</h4>
                        <div class="table-responsive">
                            <table class="table table-xs mb-0">
                              <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>Role</th>
                                  <th>Email</th>
                                  <th>Times Hired</th>
                                  <th>Last Time Hired</th>
                                  <th>Rating</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for contractor in contractors %} 
                                
                                <tr>
                                
                                  <td>{{contractor.name}}</td>
                                  <td>{{contractor.work_area.work_area}}</td>
                                  <td>{{contractor.email}}</td>
                                  <td>{{contractor.times_hired}}</td>
                                  <td>{{contractor.last_time_hired}}</td>
                                  <td>{{contractor.rating}}</td>

                                  <td>

                                    <button type="button" class="btn btn-primary" data-toggle="modal" 
                                    onclick="setSupplierInModalTabId('{{contractor.id}}'); makeModalVisible(1);" 
                                    data-target="#modal-contact-supplier" data-whatever="@mdo">Send message</button>

                                  </td>

                                  <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="setIdInModalTab('{{contractor.id}}'); makeModalVisible(2);"
                                    data-target="#modal-make-appoinment" data-whatever="@mdo">Make appoinment</button>
                                  </td>
                                </tr>
                               {% endfor %}
                              </tbody>
                            </table>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block local_js %}

    <script src="{% static 'plugins/moment/moment.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
  
    <!-- Date range Plugin JavaScript -->
    <script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <script src="{% static 'js/plugins-init/form-pickers-init.js' %}"></script>
    
    <script src="{% static 'js/general/main.js' %}"></script>
    <script src="{% static 'js/create-ticket/selectSupplier.js' %}"></script>

    <script>

        function makeModalVisible(modal) {
            console.log('here')

          $(`#modal-div-${modal}`).removeAttr('hidden');
        }
      
            
        $("#close-modal").click(() => {
          $('#modal-div-1').attr('hidden', 'true');
        });
        
        $("#close-modal-2").click(() => {
          $('#modal-div-1').attr('hidden', 'true');
        });

        $("#close-modal-3").click(() => {
          $('#modal-div-2').attr('hidden', 'true');
        });

        $("#close-modal-4").click(() => {
          $('#modal-div-2').attr('hidden', 'true');
        });
        
        
        </script>



{% endblock %}


