{% extends 'tickets/templates/base.html' %} {% block main_content %}

<div class="content-body">
  <!-- row -->

  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="bootstrap-modal">
          <div
            class="modal fade"
            id="modal-send-message"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    New message
                  </h5>
                  <button
                    id="close-modal"
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="message-subject" class="col-form-label"
                      >Subject:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="message-subject"
                    />
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label"
                      >Message:</label
                    >
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>

                  <button
                    id="send-sms-btn"
                    type="button"
                    class="btn btn-primary sweet-success"
                    onclick="sendMessage(persoId='{{ticket.created_by.id}}', sendToTenant=true, sendByEmail=false)"
                  >
                    Send message by phone
                  </button>

                  <button
                    id="send-email-btn"
                    type="button"
                    class="btn btn-primary sweet-success"
                    onclick="sendMessage(personId='{{ticket.created_by.id}}', sendToTenant=true, sendByEmail=true)"
                  >
                    Send message by email
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="email-left-box">
              <button class="btn btn-primary btn-block">
                {{ticket.priority.string_part}}
              </button>
              <div class="mail-list mt-4">
                {% for ticket_status in ticket_statuses %}
                <a
                  href="email-inbox.html"
                  class="list-group-item border-0 p-r-0"
                >
                  <b>{{ticket_status.string_part}}</b>
                  <!-- <span class="badge badge-primary badge-sm float-right m-t-5">198</span> -->

                  {% if ticket.ticket_status.id >= ticket_status.id %}

                  <span class="badge badge-primary badge-sm float-right m-t-5">
                    <i class="fa-solid fa-check"></i>
                  </span>

                  {% endif %}
                </a>
                {% endfor %}
              </div>

              <!-- <h5 class="mt-5 m-b-10">Categories</h5>
              <div class="list-group mail-list">
                <a href="#" class="list-group-item border-0"
                  ><span class="fa fa-briefcase f-s-14 mr-2"></span>Work</a
                >
                <a href="#" class="list-group-item border-0"
                  ><span class="fa fa-sellsy f-s-14 mr-2"></span>Private</a
                >
                <a href="#" class="list-group-item border-0"
                  ><span class="fa fa-ticket f-s-14 mr-2"></span>Support</a
                >
                <a href="#" class="list-group-item border-0"
                  ><span class="fa fa-tags f-s-14 mr-2"></span>Social</a
                >
              </div> -->
            </div>
            <div class="email-right-box">

             

              <div class="toolbar" role="toolbar">

                <div class="btn-group m-b-20">
                  <button type="button" class="btn btn-light">
                    <i class="fa fa-archive"></i>
                  </button>
                  <button type="button" class="btn btn-light">
                    <i class="fa fa-exclamation-circle"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-light"
                    id="button_delete"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
                <div class="btn-group m-b-20">
                  <button
                    type="button"
                    class="btn btn-light dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    <i class="fa fa-folder"></i> <b class="caret m-l-5"></b>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript: void(0);"
                      >Social</a
                    >
                    <a class="dropdown-item" href="javascript: void(0);"
                      >Promotions</a
                    >
                    <a class="dropdown-item" href="javascript: void(0);"
                      >Updates</a
                    >
                    <a class="dropdown-item" href="javascript: void(0);"
                      >Forums</a
                    >
                  </div>
                </div>
                <div class="btn-group m-b-20">
                  <button
                    type="button"
                    class="btn btn-light dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    <i class="fa fa-tag"></i> <b class="caret m-l-5"></b>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript: void(0);"
                      >Updates</a
                    >
                    <a class="dropdown-item" href="javascript: void(0);"
                      >Promotions</a
                    >
                    <a class="dropdown-item" href="javascript: void(0);"
                      >Forums</a
                    >
                  </div>
                </div>
                <div class="btn-group m-b-20">
                  <button
                    type="button"
                    class="btn btn-light dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    More <span class="caret m-l-5"></span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript: void(0);"
                      >Mark as Unread</a
                    >
                    <a class="dropdown-item" href="javascript: void(0);"
                      >Add to Tasks</a
                    >
                    <a class="dropdown-item" href="javascript: void(0);"
                      >Add Star</a
                    >
                    <a class="dropdown-item" href="javascript: void(0);"
                      >Mute</a
                    >
                  </div>
                </div>
              </div>
              <div class="read-content">
                <div class="media pt-5">
                  <!-- <img class="mr-3 rounded-circle" src="images/avatar/1.jpg" /> -->
                  <div class="media-body">
                    <h3 class="m-b-3">{{ticket.created_by.name}}</h3>
                    
                    <p class="m-b-2"> <strong>Date created:</strong> {{ticket.date_opened}}</p>
                    <p class="m-b-2"> <strong>Ticket type:</strong> {{ticket.ticket_type.string_part}}</p>

                    {% if ticket.problem.string_part %}

                    <p class="m-b-2"> <strong> Problem:</strong> {{ticket.problem.string_part}}</p>

                    {% else %}

                    <p class="m-b-2"> <strong>Problem:</strong> No identified yet</p>

                    {% endif %}

                    {% if ticket.contractor.name %}

                    <p class="m-b-2"> <strong> Contractor:</strong> {{ticket.contractor.name}}</p>

                    {% else %}

                    <p class="m-b-2"> <strong>Contractor:</strong> No selected yet</p>

                    {% endif %}

                    
                  </div>
                </div>
                <hr />
                <div class="media mb-4 mt-1">
                  <div class="media-body">
                    <span class="float-right"></span>
                    <h4 class="m-0 text-primary">
                      {{ next_to_do.string_part }}
                    </h4>
                  </div>
                </div>
                <h5 class="m-b-15">
                  Hi, User, here is what you need to do next
                </h5>
                <p>{{next_to_do.info}}</p>

                <h4>Action to do</h4>

                {% for key, value in ticket.action_to_do.action_to_do.items %}

                <p><strong>{{key}}</strong> : {{value}}</p>

                {% endfor %}

                <a
                  class="badge badge-primary badge-sm m-t-5"
                  href="{{next_to_do.action_link}}{{ticket.ticket_type.id}}/{{ticket.id}}"
                >
                  {{next_to_do.string_part}}
                </a>

                <hr />

                <button
                  type="button"
                  class="btn mb-1 btn-primary"
                  data-target="#modal-send-message"
                  data-toggle="modal"
                >
                  Send message to tenant
                  <span class="btn-icon-right">
                    <i class="fa-solid fa-envelope"></i>
                  </span>
                </button>

                <hr />

                <div id="comments-section">
                  <h4 class="p-t-15">Write a comment</h4>
                  <hr />

                  <div class="form-group p-t-15">
                    <textarea
                      class="w-100 p-20 l-border-1"
                      name=""
                      id="comment-input"
                      cols="30"
                      rows="5"
                      placeholder="Write your comment here"
                    ></textarea>
                  </div>
                </div>
                <div class="text-right">
                  <button
                    class="btn btn-primaryw-md m-b-30"
                    type="button"
                    onclick="makeComment(ticketId='{{ticket.id}}')"
                  >
                    Submmit
                  </button>
                </div>

                <hr />

                {% if comments %}

                <h4 id="ticket-comments-title">Ticket Comments</h4>

                {% endif %}

                <div id="comments-made">
                  {% for comment in comments %}
                  <hr />

                  <p><strong>Created at : {{comment.date}}</strong></p>
                  <p>
                    <strong>Made by : {{comment.made_by.get_full_name}}</strong>
                  </p>

                  <p>{{comment.comment}}</p>

                  <hr />

                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block local_js %} {% load static %}

<script src="{% static 'js/general/main.js' %}"></script>
<script src="{% static 'js/create-ticket/ticketInfo.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>

{% endblock %}
