<div class="col-lg-12" id="modal-send-message-div" hidden>
    <div class="card">
      <div class="card-body">
        <div class="bootstrap-modal">
          <div
            class="modal fade"
            id="modal-send-message"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                   {{title}}
                  </h5>
                  <button
                    id="close-modal"
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="message-subject" class="col-form-label"
                      >Subject:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="message-subject"
                    />
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label"
                      >Message:</label
                    >
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    id="close-modal-2"
                  >
                    Close
                  </button>

                  <button
                    id="send-sms-btn"
                    type="button"
                    class="btn btn-primary sweet-success"
                    onclick="sendMessage(persoId='{{person_id}}', sendToTenant='{{send_to_tenant}}', sendByEmail=false)"
                  >
                    Send message by phone
                  </button>

                  <button
                    id="send-email-btn"
                    type="button"
                    class="btn btn-primary sweet-success"
                    onclick="sendMessage(personId='{{person_id}}', sendToTenant='{{send_to_tenant}}', sendByEmail=true)"
                  >
                    Send message by email
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>